aiofiles==0.6.0
aiosql==3.2.0
alembic==1.5.8
anyio==2.2.0
asgi-lifespan==1.0.1
asn1crypto==0.24.0
async-generator==1.10
asyncpg==0.22.0
attrs==20.3.0
certifi==2018.1.18
chardet==3.0.4
click==7.1.2
command-not-found==0.3
cryptography==2.1.4
decorator==5.0.6
distro-info==0.18
dnspython==2.1.0
email-validator==1.1.2
fastapi==0.63.0
greenlet==1.0.0
h11==0.12.0
httpcore==0.12.3
httptools==0.1.1
httpx==0.17.1
idna==3.1
importlib-metadata==3.10.0
iniconfig==1.1.1
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
loguru==0.5.3
lxml==4.6.2
Mako==1.1.4
MarkupSafe==1.1.1
multidict==5.1.0
netifaces==0.10.4
outcome==1.1.0
packaging==20.9
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.10.0
pycrypto==2.6.1
pydantic==1.8.1
pygobject==3.26.1
pyparsing==2.4.7
pytest==6.2.3
pytest-asyncio==0.14.0
pytest-tornasync==0.6.0.post2
pytest-trio==0.7.0
pytest-twisted==1.13.2
python-apt==1.6.3
python-dateutil==2.8.1
python-editor==1.0.4
python-multipart==0.0.5
pyxdg==0.25
PyYAML==3.12
requests==2.18.4
rfc3986==1.4.0
sanic-routing==0.5.0
SecretStorage==2.3.1
six==1.11.0
sniffio==1.2.0
sortedcontainers==2.3.0
SQLAlchemy==1.4.6
ssh-import-id==5.7
starlette==0.13.6
toml==0.10.2
tornado==6.1
trio==0.18.0
typing-extensions==3.7.4.3
ufw==0.36
ujson==4.0.2
unattended-upgrades==0.1
urllib3==1.22
uvicorn==0.13.4
uvloop==0.15.2
websockets==8.1
zipp==3.4.1
