from typing import Optional, List

from .base import Base, IDModel, DateTimeModel

{%- for field in fields %}
{%- if field.import %}
{{ field.import }}
{%- endif %}
{%- endfor %}


class {% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item | capitalize }}{% endfor %}InCreate(Base):
    {%- for field in fields %}
    {%- if field.name != "id" and not field.default %}
    {{ field.name }}: {{ field.type }}
    {%- endif %}
    {%- endfor %}
    {%- for field in fields %}
    {%- if field.name != "id" and field.name != "creator" and field.default %}
    {{ field.name }}: {% if field.default == "None" %}Optional[{%- endif %}{{ field.type }}{% if field.default == "None" %}]{%- endif %} = {{ field.default }}
    {%- endif %}
    {%- if field.name == "creator" %}
    creator: Optional[int] = None
    {%- endif %}
    {%- endfor %}


class {% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item | capitalize }}{% endfor %}InUpdate(Base):
    {%- for field in fields %}
    {%- if field.name != "id" and field.name != "creator" %}
    {{ field.name }}: Optional[{{ field.type }}] = None
    {%- endif %}
    {%- endfor %}

class {% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item | capitalize }}{% endfor %}InDB({% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item | capitalize }}{% endfor %}InCreate, IDModel, DateTimeModel):
    """{% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item | capitalize }}{% endfor %}InDB"""


class {% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item | capitalize }}{% endfor %}InResponse({% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item | capitalize }}{% endfor %}InDB):
    """{% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item | capitalize }}{% endfor %}InResponse"""


class {% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item | capitalize }}{% endfor %}ListInResponse(Base):
    data: List[{% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item | capitalize }}{% endfor %}InResponse]
    count: Optional[int] = None

