-- name: list-{% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item }}{% if not loop.last %}-{% endif -%}{% endfor %}s
SELECT * FROM {{ table_name }} ORDER BY id desc LIMIT :limit OFFSET :offset;


-- name: count-{% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item }}{% if not loop.last %}-{% endif -%}{% endfor %}s
SELECT count(id) from {{ table_name }};


-- name: get-{% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item }}{% if not loop.last %}-{% endif -%}{% endfor %}-by-id^
SELECT * FROM {{ table_name }} where id = :id;


-- name: delete-{% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item }}{% if not loop.last %}-{% endif -%}{% endfor %}-by-id<!
DELETE FROM {{ table_name }} where id = :id RETURNING id;


-- name: add-{% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item }}{% if not loop.last %}-{% endif -%}{% endfor %}<!
INSERT INTO {{ table_name }} (
{%- for field in fields %}
    "{{ field.name }}"{% if not loop.last %},{% endif -%}
{% endfor %}
)
VALUES (
{%- for field in fields %}
    :{{ field.name }}{% if not loop.last %},{% endif -%}
{% endfor %}
)
RETURNING id, created;


-- name: update-{% set list1 = table_name.split('_') %}{% for item in list1 %}{{ item }}{% if not loop.last %}-{% endif -%}{% endfor %}-by-id<!
UPDATE
    {{ table_name }}
SET
{%- for field in fields %}
    {%- if field.name != "id" %}
    "{{ field.name }}" = :{{ field.name }}{% if not loop.last %},{% endif -%}
    {%- endif -%}
{% endfor %}
WHERE id = :id
RETURNING updated;

